*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}
body{
	font-family: sans-serif;
	background-color: rgb(246,245,255);
}
.main-health{

}
.container{
	width: 1140px;
	margin: 0 auto;
}
.main-list{
	display: flex;

	

}
.main-title{
	padding-left: 5px;
	padding-top: 6px;
	text-transform: capitalize;
}
.main-item{
	margin: 40PX;
	text-transform: capitalize;




}
.main-item4{
	display: flex;
}
.main-img{
	border: 1px solid blue;
	border-radius: 50%;
	padding: 5px 5px;
	
}
.main-link{
	color: black;
}
.main-link:hover{
	color: darkgray;
}

.main-link:hover{
	border-bottom: 10px solid blue;
	transition: .5s;
	
}
.main-nav{
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button{
	background-color: rgb(83,71,232);
	border: none;
	color: white;
	border-radius: 10%;
	padding: 10px 20px;
	text-transform: capitalize;
}
.button:hover{
	background-color: rgb(12,30,199);
	color: rgb(199,148,144);
	transition: .5s;
}
.main-item1{
	display: flex;
	padding-top: 30px;
}
.main-item2{
	padding-top: 30px;
}
.main-health{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 1000px;
	padding-top: 150px;

}
.medical{
display: flex;
justify-content: center;
}
.health-button1{
	width: 140px;
	padding: 10px 20px;
	margin-right: 5px;
	background-color: rgb(83,71,232);
	border: none;
	color: white;
	border-radius: 10%;
	font-weight: 400;
	text-transform: capitalize;

}
.health-button1:hover{
	background-color: rgb(12,30,199);
	color: rgb(199,148,144);
	transition: .5s;
}
.health-button2{
	width: 140px;
	padding: 10px 20px;
	margin-left: 5px;
	background-color: rgb(216,213,255);
	border: none;
	color: rgb(83,71,232);
	border-radius: 10%;
	font-weight: 300;
	text-transform: capitalize;
}
.health-button2:hover{
	background-color: rgb(178,172,199);
	color: rgb(216,213,255);
	transition: .5s
}
.health-img{
	margin-left: 100px;
}
.main-health-title{
	text-align: center;
	text-transform: capitalize;
	font-size: 50px;
}
.health-button{
	display: flex;
	justify-content: center;
	padding-top: 30px;

}
.main-input{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 100px;
	border: none;
	box-shadow: 0px 20px 20px rgb(206,210,222);
	border-radius: 5%;
}
.input{
	border: none;
	border-bottom: 1px solid lightgray;

}
.health-subtext{
	color: darkgray;
}
.button-input{
	width: 140px;
	padding: 10px 20px;
	margin-right: 5px;
	background-color: rgb(83,71,232);
	border: none;
	color: white;
	border-radius: 10%;
	font-weight: 400;
	text-transform: capitalize;	

}
.button-input:hover{
	background-color: rgb(12,30,199);
	color: rgb(199,148,144);
	transition: .5s;
}
.r{ width: 4px;
	height: 6px;
	border: 1px solid black;
	border-color: darkgray;
}
.our{
	height: 800px;
	padding-top: 70px;
}
.our-header{
	display: flex;
	justify-content: space-between;
}
.our-title{
	font-size: 40px;
	
}
.hrr{
	margin-top: 10px;
	width: 60px;
 	margin-bottom: 4px;
 	border-color: blue;
}

.our-button{
	border: none;
	padding: 10px 20px;
	width: 140px;
	color: rgb(83,71,232);
	
	border-radius: 10%;
	border: 1px solid rgb(83,71,232); 

}
.our-button:hover{
	background-color: rgb(212,204,237);
	color: white;
	transition: .5s
}
.our-list{
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;

	

}
.our-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	border: 1px solid gray;
    width: 340px;
    height: 300px;
    margin: 20px;
    border: none;
    box-shadow: 2px 0px 20px rgb(206,210,222);
}
.our-subtext{
	text-align: center;
	padding-top: 15px;

}
.our-text{
	padding-top: 20px;
	text-transform: capitalize;
}
.our-item:hover{
	background-color: rgb(208,214,236);
	border-radius: 25%;
	transition: .3s;
	
}
.choose{

	height: 700px;
	padding-top: 100px;
	margin-left: 50px;

}
.hr{
	margin-top: 10px;
	width: 60px;
 	margin-bottom: 4px;
 	border-color: blue;
}
.hr:hover{

	width: 200px;
	border-color: red;
	border-bottom: 10px;
	transition: .7s
}
.choose-title{
	text-transform: capitalize;
	font-size: 30px;
}
.medical{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.img-med{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	

}
.med{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.medical1{
	position: relative;
	width: 500px;
	height: 130px;
	margin: 5px; 
	background-color: rgb(208,214,236);
	padding: 10px 20px;
	border-radius: 5%;
}
.medical1:hover{
	background-color: rgb(168,172,190);
	transition: .5s;
	border-radius: 15%;
	box-shadow: 5px 5px 10px blue;


}
.img-medik{
	border: 3px solid blue;
	border-radius: 20%;
	background-color: blue;
	padding: 10px 10px;
	margin-top: 20px;
	
}
.medicall-subtext{

	padding-left: 100px;
	position: absolute;
	bottom: 30px;
	color: gray;

		
}
.medical-text{
	padding-left: 100px;
	position: absolute;
	bottom: 80px;
	

}
.doctor{
	min-height: 1000px;
	padding-top: 100px;
	height: 600px;
	background-color: rgb(241,245,255);
	
}
.doctor-box{
	display: flex;
	justify-content: space-between;
}
.doctor-hr{
	margin-top: 5px;
	width: 60px;
 	margin-bottom: 6px;
 	border-color: blue;
}
.ong{
	border: rgb(216,213,255) 1px solid;
	padding: 10px 10px;
	background-color: rgb(216,213,255);
}
.chap{
	margin-right: 20px;
	width: 40px;
	padding-bottom: 8px;
}
.chap:hover{
	width: 60px;
  	border: rgb(216,213,255) 1px solid;
	padding: 10px 10px;
	background-color: rgb(216,213,255);


}
.ong:hover{
	width: 60px;
  	border: rgb(216,213,255) 1px solid;
	padding: 10px 10px;
	background-color: rgb(216,213,255);


}
.doctor-title{
	font-size: 30px;
	text-transform: capitalize;
}
.doctors{
	
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	background-repeat: no-repeat;
	
}
.steven{
	position: relative;
	bottom: 0;
	top: 0;
	margin: 20px;
	border: 1px solid black;
	background-color: white;
	border: none;
}
.steven:hovr{
	background-color: red;
	transition: 1s
}
.doctr{

	width: 350px;
	border: 1px solid black;
	background-color: rgb(206,203,243);
	border: none;
}
.doctr:hover{
	background-color: rgb(138,136,169);
	transition: .3s;
	border-radius: 10%;


}
.doctors-text{
	border: 1px solid black;
	padding: 10px 20px;
	background-color: white;
	border: none;
	text-align: center;
	text-transform: capitalize;

}
.doctors-text:hover{
	background-color: rgb(237,237,237);
	transition: .5s;
}
.border{
	border: 6px solid red;
	width: 20px;
	height: 20px;
	margin: 4px;
	border-color: white;
	transform: translate(115px, -70px);
	background-color: black;
	color: red;
}
.border:hover{
	border-color:  darkblue;
	background-color: white;
	transition: .5s;
	border-radius: 50%;
	
}
.radius{
	border-radius: 50%;
	background-color: rgb(175,173,245);
	width: 15px;
	height: 15px;
	margin: 5px;
}
.radiuse{
	padding-top: 50px;
	display: flex;
	justify-content: center;
}
.radiusi{
	margin-right: 5px;
	border-radius: 30%;
	background-color: rgb(82,70,231);
	margin-top: 5px;
	width: 30px;
	height: 15px
}

.radius:hover{
	background-color: blue;
	
	transition: .5s;

}
.saying{
	min-height: 600px;
	position: relative;
	bottom: 0;
	right: 0
}


.saying-box{
	text-align: center;
}
.saying-title{
	font-size: 30px;
	text-transform: capitalize;

}
.saying-hr{
	margin-top: 10px;
	width: 75px;
 	margin-bottom: 4px;
 	border-color: blue;
 	margin-left: 530px;
}
.mar{
	
	padding-top: 50px;
}
.senter-box{
	position: absolute;
	position: relative;
	bottom: 500px;
	margin-left: 270px;
	text-align: center;
	width: 600px;
	height: 250px;
	background-color: white;
}
.center-subtext{
	padding-top: 15px;
	line-height: 25px;

}
.center-text{
	padding-top: 80px;
}
.foto{
	position: absolute;
	bottom: 660px;
	margin-left: 500px;
	width: 150px;

}
.foto2{
	margin-left: 150px;
	position: absolute;
	bottom: 700px;
	width: 120px;
}
.foto3{
	position: absolute;
	bottom: 500px;
	width: 120px;
	margin-left: 30px;
}
.foto4{
	position: absolute;
	margin-left: 190px;
	bottom: 330px;
	width: 100px;
}
.foto5{
	position: absolute;
	margin-left: 930px;
	bottom: 700px;
	margin-right: 150px;
	width: 120px;
}
.foto6{
	width: 150px;
	position: absolute;
	margin-left: 1000px;
	bottom: 500px;
	margin-right: 80px;
}
.foto7{
	position: absolute;
	margin-left: 930px;
	width: 120px;
	bottom: 330px;
	margin-right: 190px;

}
.foto:hover{
	border-width: 120px
	border: 3px solid blue;
	border-radius: 50%;
	transition: .5s;
	padding: 10px 10px;
}.foto2:hover{
	border-width: 120px
	border: 3px solid blue;
	border-radius: 50%;
	transition: .5s;
	padding: 10px 10px;
}.foto3:hover{
	border-width: 120px
	border: 3px solid blue;
	border-radius: 50%;
	transition: .5s;
	padding: 10px 10px;
}.foto4:hover{
	border-width: 120px
	border: 3px solid blue;
	border-radius: 50%;
	transition: .5s;
	padding: 10px 10px;
}.foto5:hover{
	border-width: 120px
	border: 3px solid blue;
	border-radius: 50%;
	transition: .5s;
	padding: 10px 10px;
}.foto6:hover{
	border-width: 120px
	border: 3px solid blue;
	border-radius: 50%;
	transition: .5s;
	padding: 10px 10px;
}.foto7:hover{
	border-width: 120px
	border: 3px solid blue;
	border-radius: 50%;
	transition: .5s;
	padding: 10px 10px;
}
.saying-title{
	padding-top: 130px;
}
.radiuse2{
	position: absolute;
	bottom: 200px;
	margin-left: 500px;
	display: flex;
	justify-content: center;
}
.footer-main{
	padding-top: 100px;
	background-color: rgb(241,245,255);
}
.footer-main-box{
	display: flex;
	justify-content: space-between;
}
.box1{
	width: 250px;
	height: 400px;
}
.box-item{
	display: flex;

}
.item-text{
	margin-left: 40px;
	line-height: 40px;
}
.box-subtexte{
	
	line-height: 40px;
}
.box-titles{
	padding-bottom: 30px;
	color: rgb(77,77,137);
}
.box-link{
	padding-top: 10px;
}
.plus{
	display: flex;
	
}
.pluse{
	border: rgb(77,77,137)  2px solid;
	border-radius: 50%;
	padding: 5px 5px;
	height: 30px;
	margin-right: 10px;
}
.footer{
	display: flex;
	align-items: center;
	height: 50px;
	background-color: rgb(83,71,232);
}
.footer-end{
	display: flex;
	justify-content: space-between;
}
.footer-subtext{
	color: white;
}
.footer-button{
	width: 8px;
	height: 12px;
	background-color: rgb(83,71,232);
	border-color: white;
}

